option domain-name     "{{ domain_name }}";
option domain-name-servers     {{ ansible_default_ipv4["address"] }};
default-lease-time 600;
max-lease-time 7200;
authoritative;
subnet {{ ansible_default_ipv4["network"] }} netmask {{ ansible_default_ipv4["netmask"] }} {
    range dynamic-bootp {{ ansible_default_ipv4["network"] | ipmath(100) }} {{ ansible_default_ipv4["network"] | ipmath(254) }};
    option broadcast-address {{ ansible_default_ipv4["broadcast"] }};
    option routers {{ ansible_default_ipv4["gateway"] }};
}

{% for host in groups['all'] %}
host {{ hostvars[host]['inventory_hostname'] }} {
    option host-name        "{{ hostvars[host]['inventory_hostname'] }}.{{ domain_name }}";
    hardware ethernet       {{ hostvars[host]['ethernet'] }};
    fixed-address           {{ hostvars[host]['ansible_host'] }};
}

{% endfor %}
