ignoredisk --only-use=nvme0n1
clearpart --all --initlabel --drives=nvme0n1
graphical
lang en_US.UTF-8

network --bootproto=static --ip={{ hostvars[item]['ansible_host'] }} --netmask={{ ansible_default_ipv4['netmask'] }} --gateway={{ ansible_default_ipv4['gateway'] }} --nameserver={{ ansible_default_ipv4["address"] }} --device=eno1 --ipv6=auto --activate
network --hostanme={{ hostvars[item]['inventory_hostname'] }}.{{ domain_name }}

keyboard us
rootpw {{ vault_rootpasswd }}
timezone UTC
zerombr
autopart --nohome
rhsm --organization="{{ vault_orgid }}" --activation-key="{{ vault_actkey }}"
%packages
@^minimal-environment
%end
